COMPOSE_FILE=docker-compose.yml

### Tomcat #############################################

TOMCAT_EXTRAS=false
TOMCAT_USER=tomcat
TOMCAT_PASSWORD=tomcat@Passwd123456

### GeoServer #############################################

GEOSERVER_VERSION=2.22.2
# GEOSERVER_DATA=geoserver-data
GEOSERVER_DATA=./osm_data
GEOSERVER_PORT=8080
GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver@Passwd123456
GEOSERVER_SAMPLE_DATA=false
# Install the stable plugin specified in https://github.com/kartoza/docker-geoserver/blob/master/build_data/stable_plugins.txt
GEOSERVER_STABLE_EXTENSIONS=css-plugin,mbstyle-plugin,feature-pregeneralized-plugin,params-extractor-plugin,querylayer-plugin,sldservice-plugin,web-resource-plugin,importer-plugin
# Install the community edition plugins specified in https://github.com/kartoza/docker-geoserver/blob/master/build_data/community_plugins.txt
GEOSERVER_COMMUNITY_EXTENSIONS=
GEOSERVER_INITIAL_MEMORY=4G
GEOSERVER_MAXIMUM_MEMORY=8G
XFRAME_OPTIONS="false"
ROOT_WEBAPP_REDIRECT=true
ADDITIONAL_JAVA_STARTUP_OPTIONS="-DALLOW_ENV_PARAMETRIZATION=true"

### PostgreSQL #############################################

POSTGRES_ENDPOINT=db
POSTGRES_VERSION=15-3.3
POSTGRES_DB=osm
POSTGRES_DB_EXTRAS=osm_extras
POSTGRES_USER=postgres
POSTGRES_PASS=postgres@Passwd123456
POSTGRES_PORT=15415
POSTGRES_DATA=geo-db-data
POSTGRES_TIMEZONE=Asia/Ho_Chi_Minh
ALLOW_IP_RANGE=0.0.0.0/0